body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class="mapboxgl-marker "] {
  z-index: 0 !important;
}

[class="mapboxgl-popup mapboxgl-popup-anchor-top "] {
  z-index: 1 !important;
}
